<div class="p-8 pt-16 mx-auto max-w-[64em] xl:max-w-none sm:p-7 sm:pt-14">
  <div class="flex justify-between items-end sm:flex-col sm:items-start sm:gap-y-4">
    <h1 class="text-3xl font-extrabold"><a href="/" class="link-simple">Soheil Rashidi</a></h1>
    <div>
      <a href="/" class="font-bold link-simple">Home</a>
      <span class="mx-1">&bull;</span>
      <a href="/blog" class="font-bold link-simple">Blog</a>
    </div>
  </div>
  <div class="h-16"></div>
