@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#fdfbf7];
}

a.link {
  @apply font-semibold;
  @apply underline;
  @apply decoration-dotted;
  @apply decoration-stone-800;
  @apply text-stone-800;
  @apply hover:text-orange-600;
  @apply hover:decoration-orange-600;
}

a.link-dead {
  @apply font-semibold;
  @apply line-through;
  @apply text-stone-800;
  @apply hover:text-orange-600;
}

a.link-simple {
  @apply hover:underline;
  @apply hover:text-orange-600;
}

.h1 {
  @apply mb-3;
  @apply text-[1.375em];
  @apply font-bold;
}

.h2 {
  @apply mb-3;
  @apply text-xl;
  @apply font-bold;
}

ul li {
  @apply mb-0.5;
}

ul li:last-child {
  @apply mb-0;
}

ul.list-square li {
  @apply ml-5;
  list-style: square;
}

ul.list-square li::marker {
  @apply text-stone-600;
}

.blog-post-body p {
  margin-bottom: 1.5em;
}

.blog-post-body p:last-child {
  margin-bottom: 0;
}
